#card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  border: solid 2px red;
}
#price {
  font-size: 70%;
  padding: 0 0.5em;
}
